@model IEnumerable<F1Lib.ViewModels.SeasonVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Races)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Races)
            </td>
            
          
        </tr>
}
    </tbody>
</table>
